/* .landing {
    display: flex;
    justify-content: space-around;
    padding-top: 25px
}

.landing img {
    height: 300px;
    width: 300px;
}

.spot-details {
    display: flex;
    justify-content: space-between;
} */

.landing {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: center; */
    align-items: stretch;
    padding: 20px;
  }

  .landing a {
    text-decoration: none;
    color: inherit;
    width: calc(25% - 40px);
    margin: 10px;
  }

  .landing img {
    width: 100%;
    height: 250px;
    display: block;
  }

  .spot-details {
    padding: 8px 12px;
    padding-bottom: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }

  .spot-details .city,
  .spot-details .rating {
    display: block;
    margin-bottom: 4px;
    color: black
  }

  .landing-page-price {
    margin-top: auto;
    margin-left: 10px;
    font-weight: bold;
    color: black;
  }
