/* .landing {
    display: flex;
    justify-content: space-around;
    padding-top: 25px
}

.landing img {
    height: 300px;
    width: 300px;
}

.spot-details {
    display: flex;
    justify-content: space-between;
} */

.landing {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
  }

  .landing a {
    text-decoration: none;
    width: calc(25% - 40px);
    margin: 10px;
    border: 1px solid #c8c7c7;
    border-radius: 8px;
  }

  .landing img {
    width: 100%;
    height: 250px;
    display: block;
  }

  .spot-details {
    padding: 8px 12px;
    background-color: white;
    border-bottom: 1px solid rgb(182, 181, 181);
    display: flex;
    justify-content: space-between;
  }

  .spot-details .city,
  .spot-details .rating {
    display: block;
    margin-bottom: 4px;
    color: black
  }

  .price {
    margin-top: auto;
    font-weight: bold;
    color: black;
  }
